apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: b4mad-erdgeschoss
spec:
  image: keycloak
  instances: 1
  db:
    vendor: postgres
    host: postgresql-rw.b4mad-keycloak.svc.cluster.local
    usernameSecret:
      name: postgresql-app
      key: user
    passwordSecret:
      name: postgresql-app
      key: password
  resources:
    requests:
      cpu: 250m
      memory: 896Mi
    limits:
      cpu: 750m
      memory: 2Gi
  http:
    tlsSecret: tls-backend
  hostname:
    hostname: keycloak.erdgeschoss.b4mad.net
  ingress:
    className: openshift-default
  additionalOptions:
    - name: metrics-enabled
      value: "true"
    - name: health-enabled
      value: "true"
