.decrypted*
secrets/**decrypted**
secret-*
tmp.d/
.vscode/
.env
**.env
**.crt
**.key
ssh-keys/
gpg-keys/
must-gather/
scratch.txt
secrets/nostromo/cpk_token
secrets/nostromo/alertmanager.yaml

.vscode/
__pycache__/
.pytest_cache/
.mypy_cache/
*.retry
