apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate
data:
  config.js: |-
    module.exports = {
        "endpoint": "https://codeberg.org/api/v1",
        "gitAuthor": "the #B4mad Renovate bot <renovate-bot@b4mad.net>",
        "platform": "forgejo",
        "platformAutomerge": true,
        "onboardingConfigFileName": "renovate.json5",
        "binarySource": "install",
        "allowedCommands": [
          "install-tool node",
          "make readme"
        ],
        "repositories": [
          "b4mad/hash-B4mad-op1st",
          "b4mad/hugo.containerimage",
          "b4mad/prompts",
          "b4mad/semantic-release",
          "feeldata/feeldata.app",
          "feeldata/feeldata2.app",
          "feeldata/manifests",
          "goern/bonn-staedtische-bauprojekte",
          "goern/bxbdbt",
          "goern/forgejo-mcp",
          "goern/moargents",
          "goern/semmel",
          "goern/sops2sealedsecret",
          "machdenstaat/stadt-bonn-oparl",
          "machdenstaat/oparl-lite-2",
          "toolbxs/borgmatic",
          "toolbxs/code-insiders",
          "toolbxs/fedora-toolbox-handy-41",
          "toolbxs/fedora-toolbox"
        ],
    };
