apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    email: cert-admin@b4mad.net
    privateKeySecretRef:
      name: cluster-issuer-acme-letsencrypt
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-b4mad-racing-dns01-solver
              key: api-token
        selector:
          dnsZones:
            - b4mad.racing
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-b4mad-net-dns01-solver
              key: api-token
        selector:
          dnsZones:
            - b4mad.net
            - b4mad.industries
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-operate-first-dns01-solver
              key: api-token
        selector:
          dnsZones:
            - operate-first.cloud
            - b4mad.emea.operate-first.cloud
            - erdgeschoss.b4mad.emea.operate-first.cloud
      - dns01:
          cnameStrategy: Follow
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-b4mad-net-dns01-solver
              key: api-token
        selector:
          dnsZones:
            - machdenstaat.de
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-feeldata-app-dns01-solver
              key: api-token
        selector:
          dnsZones:
            - feeldata.app
